@import "@opencode-ai/ui/styles/tailwind";

#root {
  padding-top: max(1px, env(safe-area-inset-top, 0px));
  padding-right: max(1px, env(safe-area-inset-right, 0px));
  padding-bottom: max(1px, env(safe-area-inset-bottom, 0px));
  padding-left: max(1px, env(safe-area-inset-left, 0px));
}
